//----------------------------------------------------------------------------------------------------------------------
// Import mixins
//----------------------------------------------------------------------------------------------------------------------

@import "less/settings";
@import "less/helpers";
@import "less/resets";


//----------------------------------------------------------------------------------------------------------------------
// Basics
//----------------------------------------------------------------------------------------------------------------------

body { background: @color_brand_dark; .defaultFont(); }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6  { .defaultFont(@font-weight: 700; @line-height: 1.1em; @margin: 0 0 1.5em); }

p, li, th, td { .defaultFont(@font-size: 1.125em; @margin: 0 0 1.5em); }

.highlight{ color: @color_brand; }

a
{   text-decoration: none; color: #fff;
    &:hover,
    &:focus     { text-decoration: none; color: @color_brand; }
    &:active    { text-decoration: none; color: darken(@color_brand,10%); }
}

//----------------------------------------------------------------------------------------------------------------------
// Layouts
//----------------------------------------------------------------------------------------------------------------------

//.logo
//{   width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 1; opacity: 0.8; background: transparent url(assets/afx-bg.png) no-repeat center 100px;
//    &.activated { z-index: -1; .transition(z-index 0s ease-out 2s); }
//}

.wrap
{ .clearfix(); padding: 160px 60px;
    @media (min-width: @small) { padding-top: 120px; }
}


.topbar
{   width: 100%; height: 140px; position: fixed; left: 0; top: 0; z-index: 1; background-color: @color_brand_dark; padding: 5px 0 0;
    @media (min-width: @small)  { height: 100px; }
    @media (min-width: @medium) { padding-top: 35px; }


    .sitename
    {   float: left; line-height: 1.1em; margin: 0 percentage(100/2484);
        @media (min-width: @medium) { width: percentage(326/2484); float: left; }

        a
        {   color: @color_brand;
            &:hover, &:focus { text-decoration: none; }

            span { display: block; color: #fff; padding-left: 20px; }
        }
    }

    .topbarmain
    {   width: 100%; max-width: 1440px; overflow: hidden; margin: 0;
        @media (min-width: @medium) { width: percentage(1876/2484); float: left; }
        @media (min-width: @max) { width: percentage(1440/2484); }
    }

    .user
    {   width: auto; position: absolute; top: 5px; right: percentage(100/2484); line-height: 1.1em; text-align: right; color: @color_brand; margin: 0;
        @media (min-width: @medium) { color: #fff; }
        @media (min-width: @large)  { position: static; float: right; margin-top: 20px; }

        a
        {   display: block; padding-right: 20px; margin-left: 0;
            @media (min-width: @medium)   { display: inline; padding-right: 0; margin-left: 40px; }
        }

        .loggedInAs
        {   display: none;
            @media (min-width: @medium) { display: inline; }
        }

    }

    .navlinks
    {   .clearfix(); padding: 0; margin: 30px 0 0 percentage(100/2484);
        @media (min-width: @small)  { margin-top: 20px; }
        @media (min-width: @medium) { margin-top: 16px; }
        @media (min-width: @large)  { margin-left: 0; margin-right: 0; }
        @media (min-width: @max) { margin: 0; }

        li
        {   float: left; list-style-type: none; padding: 0; margin: 0 15px 0 0;
            @media (min-width: @small)  { margin-right: 35px; }
            @media (min-width: @max) { margin-right: 70px; }

            &.first
            {   display: none;
                @media (min-width: @medium) { display: block; }
                @media (min-width: @max)  { margin-right: 140px; }
            }

            a { border-bottom: 1px solid transparent; }
            &.currentpage a
            {   border-color: #fff;
                &:hover, &:focus { border-color: @color_brand; }
                &:active { border-color: darken(@color_brand, 10%); }
            }
        }
    }
}



.sidebar
{   width: 100%; overflow: hidden; margin: 0;
    @media (min-width: @xlarge)  { width: 300px; position: absolute; top: 250px; left: 60px; }
    @media (min-width: @max)     { width: 360px; }
}

.main
{   width: 100%; overflow: hidden; margin: 0;
    @media (min-width: @xlarge)  { float: left; padding-left: 360px; }
    @media (min-width: @max)     { padding-left: 420px; }
}


/* Sidebar navigation */
//.nav-sidebar {
//  margin-right: -11px; /* 20px padding + 1px border */
//  margin-bottom: 10px;
//  margin-left: -10px;
//}
//.nav-sidebar > li > a {
//  padding-right: 10px;
//  padding-left: 10px;
//}
//.nav-sidebar > .active > a,
//.nav-sidebar > .active > a:hover,
//.nav-sidebar > .active > a:focus {
//  color: #fff;
//  background-color: #428bca;
//}





table.dataTable { width: 100% !important; margin: 20px 0 !important; } /* !importants to overwrite inline styles and bootstrap */

.table thead tr,
.table tbody tr     { position: relative; }
.table tbody tr     { background: transparent url(assets/dots.png) repeat-x left top;  }

.table thead tr th  { padding: 20px 30px 18px 0; border: 0;  }

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after { top: 20px; }


.table tbody tr td  { padding: 20px 20px 18px 0; border: 0; }

.table tbody tr.selected td,
.table tbody tr.odd:hover td,
.table tbody tr.even:hover td   { background-color: @color_brand; }

.table tbody tr.odd:hover td.title,
.table tbody tr.even:hover td.title { cursor: pointer; }

.table tbody tr td.title            { background: transparent url(assets/play.png) no-repeat 24px center; padding-left: 70px; }
.table tbody tr.playing td.title    { background-image: url(assets/pause.png); }

.table thead tr th.vote,
.table tbody tr td.vote         { width: 75px; text-align: center; padding-right: 0; }
.table tbody tr td.vote         { background: transparent url(assets/plus.png) no-repeat center center; }
.table tbody tr.voted td.vote   { background-image: url(assets/subtract.png); }


.table tbody .trackWidgetRow
{   height: 100px; display: none; background: none;
    &:hover  { background-color: transparent; }
    &.open,
    &.playing { display: table-row; }

    td { position: relative; padding: 0!important; }

    .trackArt   { width: 100px; height: 100px; }

    .waveformContainer
    {   width: 100%; height: 100px; position: absolute; top: 0; right: 0; padding-left: 100px;
        canvas { width: 100% !important; }
    }
}







