{% extends "base.html" %}

{% block main %}

        <p>enter your email (optional) to get vote results and updates as new features are added.  your email is kept private</p>

        <p>this site + poll will run over many months, to let people properly take in the tracks and change their vote accordingly.  displaying total votes, playlist sharing/voting and other improvements are imminent.  you are participating in an early launch version :)</p>

        <p>user18081971 has indicated the final results won't make an exact release, but will help form a strong basis to compile something "by the fans"</p>

        <form id="user_form" method="post" action="/profile/" enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_form.as_p }}

            <input type="submit" name="submit" value="Save Email" class="saveBtn" />

        </form>

        <br />

        this poll brought to you by <a href="http://www.watmm.com">watmm</a>, <a href="https://twitter.com/xfxf">@xfxf</a> (concept, code) and <a href="https://twitter.com/binaryfold4">@binaryfold4</a> (design).

{% endblock %}

{% block sidebar %}
{% endblock %}